<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/register2">
    <!-- 氏名：<input type="text"><br> -->
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="password" value="{{ password }}">
    学年：<select name="grade" required>
        <option value="">選択してください</option>
        <option value="2">2年</option>
        <option value="3">3年</option>
    </select><br>
    学科：<select name="department" required>
        <option value="">選択してください</option>
        <option value="情報システム">情報システム</option>
        <option value="その他">その他</option>
    </select><br>
    自己紹介：<input type="text">
    <p>アイコン（任意）</p>
    画像をアプロード<br><input type="button" value="ファイルを選択"><br>
    <input type="submit" value="登録">
    </form>
    <a href="register1.html">前のページへ戻る</a>
</body>
</html>